src/wandb/*
src/__pycache__/*
src/.ipynb_checkpoints/*
src/.pytest_cache/*
models/*.pkl
models/*.joblib
results/*.joblib
results/*.pkl
models/*model.pth
models/deep*.pt
models/trim*.pt
src/tokenized_data.pkl
src/full_tokenized_data.pkl
src/preloaded_data.pkl
src/metrics_results.csv
src/wandb/*
plots/*_inspection.png
plots/atomic*.png
plots/deep*.png
plots/neat*.png
plots/sparkling*.png
plots/summer*.png
plots/sweet*.png
plots/trim*.png
plots/driven*.png
src/notebooks/*
