src/wandb/*
src/__pycache__/*
src/.ipynb_checkpoints/*
src/.pytest_cache/*
models/*.pkl
models/*.joblib
results/*.joblib
results/*.pkl
results/driven*
models/*model.pth
models/deep*
models/trim*
src/tokenized_data.pkl
src/full_tokenized_data.pkl
src/preloaded_data.pkl
src/metrics_results.csv
src/wandb/*
plots/*_inspection.png
plots/atomic*
plots/deep*
plots/neat*
plots/sparkling*
plots/summer*
plots/sweet*
plots/trim*
plots/driven*
src/notebooks/*
